__pycache__/
.vscode/
.VSCodeCounter/
db/acquisition/pgn_files/
db/master_games.db
db/pgn.pickle
db/lichess_db_standard_rated_2013-12.pgn.zst
chess_game_cpp/build
chess_game_cpp/build_ninja
chess_game_cpp/src/a.exe
chess_game_cpp/src/output/a.exe
chess_game_cpp/bin/move_generation_test.exe
build_ninja/
front_end/styless.css
front_end/styless.css.map
chess_game_cpp/bin/gameLoopTest
chess_game_cpp/bin/perftTest
chess_game_cpp/bin/unitTests
chess_game_cpp/bin/engine
chess_game_cpp/bin/engine_killer_moves
chess_game_cpp/bin/engine_no_killer_moves
chess_game_cpp/openings/cute-chess-openings
chess_game_cpp/bin/sprt.sh
chess_game_cpp/bin/sprt.pgn
chess_game_cpp/openings/cute-chess-openings.bin
chess_game_cpp/debug_output.txt
chess_game_cpp/openings/bjbraams_chessdb_198350_lines.pgn
chess_game_cpp/bin/engine_1
chess_game_cpp/bin/debugLog.txt
