__pycache__/
.vscode/
.VSCodeCounter/
db/acquisition/pgn_files/
db/master_games.db
db/pgn.pickle
db/lichess_db_standard_rated_2013-12.pgn.zst
chess_game_cpp/build
chess_game_cpp/build_ninja
chess_game_cpp/src/a.exe
chess_game_cpp/src/output/a.exe
chess_game_cpp/bin/move_generation_test.exe
build_ninja/
front_end/styless.css
front_end/styless.css.map
chess_game_cpp/bin/gameLoopTest
chess_game_cpp/bin/perftTest
chess_game_cpp/bin/unitTests
chess_game_cpp/bin/engine
chess_game_cpp/bin/engine_killer_moves
chess_game_cpp/bin/engine_no_killer_moves
chess_game_cpp/openings/cute-chess-openings
chess_game_cpp/bin/sprt.sh
chess_game_cpp/bin/sprt.pgn
chess_game_cpp/openings/cute-chess-openings.bin
chess_game_cpp/debug_output.txt
chess_game_cpp/openings/bjbraams_chessdb_198350_lines.pgn
chess_game_cpp/bin/engine_1
chess_game_cpp/bin/debugLog.txt
chess_game_cpp/bin/debugLog_1.txt
chess_game_cpp/bin/sprtnoop.sh
chess_game_cpp/bin/errors
chess_game_cpp/bin/engine_1debugLog
chess_game_cpp/bin/enginedebugLog
chess_game_cpp/bin/engine_1debugLog copy
chess_game_cpp/bin/enginedebugLog copy
chess_game_cpp/bin/unitTestsdebugLog
chess_game_cpp/bin/engine_0_1_1_alpha
chess_game_cpp/bin/engine_0_1_0_alpha
chess_game_cpp/bin/engine_0_1_0_alphadebugLog
chess_game_cpp/bin/engine_0_1_1_alphadebugLog
chess_game_cpp/bin/engine_0_1_2_alpha
chess_game_cpp/bin/engine_0_1_3_alpha
chess_game_cpp/bin/engine_0_1_4_alpha
 
 
chess_game_cpp/bin/sprtNoDb.sh
chess_game_cpp/tests/fen.py
