__pycache__/
.vscode/
.VSCodeCounter/
db/acquisition/pgn_files/
db/master_games.db
db/pgn.pickle
db/lichess_db_standard_rated_2013-12.pgn.zst
chess_game_cpp/build
chess_game_cpp/build_ninja
chess_game_cpp/src/a.exe
chess_game_cpp/src/output/a.exe
chess_game_cpp/bin/move_generation_test.exe
build_ninja/
front_end/styless.css
front_end/styless.css.map
 
chess_game_cpp/bin/perftTest
chess_game_cpp/bin/position_test
chess_game_cpp/bin/perftTest
chess_game_cpp/bin/perftTest
chess_game_cpp/src/a.out
chess_game_cpp/bin/gameLoopTest
chess_game_cpp/bin/perftTest
chess_game_cpp/bin/constantsTest
chess_game_cpp/bin/perftTest
