@font-face {
  font-family: "MyCustomFont";
  src: url("fontFile.ttf") format("truetype");
}
.unselectable {
  user-select: none;
}
.top-menu-box {
  background-color: rgb(64, 64, 66);
  font-size: 15px;
  color: white;
  margin: 0px;
}
.top-menu-elements {
  padding: 13px;
  border-left: 3px rgb(64, 64, 66) solid;
  font-weight: normal;
}
.top-menu-elements:hover {
  background-color: rgb(74, 74, 77);
  /* border-radius: 5px; */

  border-left: 3px rgb(115, 115, 115) solid;
  /* padding:10px; */
  cursor: default;
}
.top-menu-drop-down {
  visibility: hidden;
  /* display: inline-block; */
  position: absolute;
  list-style: none;
  /* width: fit-content; */
  text-align: left;
  font-size: 14px;
  background-color: rgb(74, 74, 77);
  color: rgb(229, 229, 229);
  border-left: 3px rgb(92, 86, 217) solid;
  padding: 13px;
  overflow: visible;
  /* margin:50px; */
}
.top-menu-elements:hover .top-menu-drop-down {
  visibility: visible;
}
.top-menu-drop-down li:hover {
  margin: 0px;
  /* padding: 0px 10px 10px 0px; */
  background-color: rgb(139, 145, 108);
}
.body {
  background-color: rgb(64, 64, 66);
}
#chess_board_box {
  resize: both;
  overflow: hidden;
  /* display: inline-block; */
  float: left;
}
#chess_board {
  border-collapse: collapse;
  margin: 20px;
  /* margin: 0px; */
  /* width: 600px;
  height: 600px; */
}
.whiteCells {
  background-color: rgb(204, 183, 152);
  /* background-color: #d6ed17ff; */
  /* border: 1px black solid; */
  width: 55px;
  height: 55px;
  padding: 2px;
  text-align: center;
  font-size: xxx-large;
  font-family: "MyCustomFont";
  cursor: default;
}
.blackCells {
  background-color: rgb(134, 103, 9);
  background-color: #606060ff;
  /* border: 1px black solid; */
  width: 55px;
  height: 55px;
  padding: 2px;
  text-align: center;
  font-size: xxx-large;
  font-family: "MyCustomFont";
  cursor: default;
}
#side-hub {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 496px;
  background-color: rgb(69, 69, 72);
  margin-left: 5px;
  margin-top: 20px;
  border-radius: 1px;
  /* position: relative; */
  float: left;
}
#game-decision {
  display: flex;
  justify-content: space-around;
  color: rgb(184, 181, 181);
}
.resign:hover {
  color: rgb(192, 44, 11);
}
.draw-offer:hover {
  color: rgb(185, 158, 5);
}
.undo:hover {
  color: rgb(115, 115, 132);
}
#player-info-container {
  font-weight: lighter;
  font-family: Arial;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

#control_panel_of_moves {
  background-color: rgb(64, 64, 66);
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
}
#control_panel_of_moves ul {
  padding-left: 0px;
  margin: 0px;
  padding-top: 1px;
  color: rgb(115, 115, 132);
  text-align: center;
}
#control_panel_of_moves ul li {
  display: inline-block;
  padding: 0px;
  padding-right: 16px;
}
#control_panel_of_moves ul li:hover {
  color: rgb(182, 182, 188);
  cursor: default;
}
#footer {
  font-size: small;
  color: white;
  text-align: center;
  margin: 600px;
  position: fixed;
}
