.headMenu{
background-color : rgb(64, 64, 66);
font-size: 15px;
color:white;
border-spacing: 30px;
}
.body{

background-color : rgb(64, 64, 66);
}
.openingsDropDown td{
padding: 50px 10px;
}
a{
    color : white;
    font-weight: normal;
    text-decoration: none;
}