$main-background-color: rgb(64, 64, 66);
$top-menu-highlight-color: rgb(74, 74, 77);
$top-menu-border-color:rgb(115, 115, 115);
$dropdown-highlight-color:rgb(141, 160, 162);
$side-hub-background-color:rgb(69,69,77);
$game-decision-button-color:rgb(184, 181, 181);
$main-font-color: white;
$main-font-size: 15px;
$dropdown-border-color:rgb(92, 86, 217);
@font-face {
  font-family: "MyCustomFont";
  src: url("fontFile.ttf") format("truetype");
}
@mixin dropDown(){
  visibility: hidden;
  position: absolute;
  left: 2px;
  list-style: none;
  font-size: 14px;
  background-color: $top-menu-highlight-color;
  color: $main-font-color;
  border-left: 3px $dropdown-border-color solid;
  padding: 0px;
  overflow: visible;
  li {
    padding: 9px;
    width: 100%;
    background-color: $top-menu-highlight-color;
    &:hover {
      padding: 9px;
      background-color: $dropdown-highlight-color;
      width: 100%;
    }
  }
}
.unselectable {
  user-select: none;
}
#main-container {
  display: grid;
  grid-template: repeat(3, 1fr) / 5px, 50px, 20px;
  gap: 20px;
}
.box {
  border: blue 1px solid;
}
#top-menu-container {
  grid-row: 1;
  grid-column: 1 / span 3;
}
.top-menu-box {
  background-color: $main-background-color;
  font-size: $main-font-size;
  color: $main-font-color;
  margin: 0px;
  position: relative;
}
.top-menu-elements {
  padding: 13px;
  border-left: 3px $main-background-color solid;
  font-weight: normal;
  &:hover {
    background-color: $top-menu-highlight-color;
    border-left: 3px $top-menu-border-color solid;
    cursor: default;
  }
}
.top-menu-drop-down {
  @include dropDown();
}
.top-menu-elements:hover .top-menu-drop-down {
  visibility: visible;
}
.body {
  background-color: $main-background-color;
}
#chess_board {
  border-collapse: collapse;
}
.cells{
  width: 55px;
  height: 55px;
  padding: 2px;
  text-align: center;
  font-size: xxx-large;
  font-family: "MyCustomFont";
  cursor: default;
}
.whiteCells {
  background-color: rgb(204, 183, 152);
}
.blackCells {
  background-color: rgb(134, 103, 9);
  background-color: #606060ff;
}
#side-hub {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  background-color: $side-hub-background-color;
}
#game-decision {
  display: flex;
  justify-content: space-around;
  color:$game-decision-button-color;
}
.resign:hover {
  color: rgb(192, 44, 11);
}
.draw-offer:hover {
  color: rgb(185, 158, 5);
}
.undo:hover {
  color: rgb(115, 115, 132);
}
#player-info-container {
  font-weight: lighter;
  font-family: Arial;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
#control_panel_of_moves {
  background-color: $main-background-color;
  bottom: 0px;
  width: 100%;
  ul {
    padding-left: 0px;
    margin: 0px;
    padding-top: 1px;
    color: rgb(115, 115, 132);
    text-align: center;
    li {
      display: inline-block;
      padding: 0px;
      padding-right: 16px;
      &:hover {
        color: rgb(182, 182, 188);
        cursor: default;
      }
    }
  }
}
#footer-container{
  grid-row: 3;
  grid-column: 1 / span 3;
}
#footer {
  font-size: small;
  color: $main-font-color;
  text-align: center;
  margin: 600px;
  position: fixed;
}
